{% extends 'main/base.html' %}
{% block title %}Seznam dětí{% endblock %}

{% block head_css_section %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/buttons.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-end mb-2">
        <a href="{% url 'accounts:childCreate' %}" class="btn btn-success">
            Přidat dítě
        </a>
    </div>
    <ul class="p-0 list-group">
        {% for child in children %}
            <li class="list-group-item list-group-item-action d-flex">
                <div class="col-8 col-md-10">
                    <h5 class="mb-0">{{ child.get_full_name }}</h5>
                </div>
                <div class="col-2 col-md-1">
                    <a href="{% url 'accounts:childEdit' child.id %}"
                       class="edit"
                       title="Upravit dítě"
                    >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-2 col-md-1">
                    <a href="{% url 'accounts:childDelete' child.id %}"
                       class="delete"
                       title="Odstranit dítě"
                    >
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
            </li>

        {% endfor %}
    </ul>
{% endblock %}