@media (max-width: 575px) {
    .fa {
        font-size: 1.5rem;
    }
}

#menu > li {
    padding: 0.5rem 1rem;
}



@media (min-width: 320px) {
    #user-dropdown {
        right: 0;
        left: auto;
    }
}