{% extends "main/base.html" %}
{% block title %}Kalendář{% endblock %}
{% load static %}
{% block head_css_section %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/signabletask_list.css' %}" />
{% endblock %}
{#{% load bootstrap4 %}#}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Tábory</h2>
    <form method="post" action="{% url 'tasks:index' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Filtrovat</button>
    </form>

    <ul class="p-0">
        {% for task in tasks %}
            <li class="camp card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2 p-2">
                        <img src="{{ task.image.url }}" alt="Obrázek tábora" width="100%" class="card-img-left img-fluid">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="card-title">{{ task.name }}</div>
                            <div><span class="font-weight-bold">Věk: </span>{{ task.age_min }}-{{ task.age_max }}</div>
                            <div><span class="font-weight-bold">Termín: </span>{{ task.get_date_span|default_if_none:"" }}</div>
                            {% include 'tasks/assigned_to.html' %}
                            <div><span class="font-weight-bold">Počet míst: </span>{{ task.get_vacancies }}</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'tasks:taskInfo' task.id %}" class="stretched-link"></a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}