{%  load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load bootstrap4 %}
        <title>{% block title %}Domů {% endblock title %} | SHM Klub Prostějov, z. s.</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{{ MEDIA_URL }}/media/logo.png">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="cs-CZ" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                {% bootstrap_css %}
{#                <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />#}
{#                <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>#}
                {% bootstrap_javascript jquery='full' %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
    <body>
        <div class="container-fluid w-100 p-0">
            {# Navigation Menu #}
            {% include 'main/navigation.html' %}
            {# The Document Body #}
            <div id="site-wrapper" class="container mt-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-2">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                    if you see this, something is wrong!
                {% endblock content %}
            </div>
            {# The Footer #}
            <div class="footer">
                <div class="container">
                    <p></p>
                </div>
            </div>
        </div>
    </body>
</html>